*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

}

.container{
    display: flex;
}
/*.firstFrame{*/
/*    width: 100%;*/
/*    height: 900px;*/
/*}*/
/*.secondFrame{*/
/*    width: 40%;*/
/*    height: 900px;*/

/*}*/




.Footer{
    text-align: center;
    align-items: center;
    width: auto;
    padding: 20px;
    border-top: 1px solid rgb(46, 29, 122);
    margin: 20px;
}
.Footer b{
    color: #3468C0;
}